<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Contacts</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" th:href="@{/login}">Connexion</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/register}">Inscription</a></li>
        </ul>
    </div>
</nav>

<div layout:fragment="content"></div>


</body>
</html>